DB_CONNECTION=pgsql
DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=uic_dev
DB_EMAIL=testuic@picom.su
DB_USERNAME=admin
DB_PASSWORD=qff34MGaD14

SERVER_PORT=5000

JWT_SECRET=kkn2rky5ldsfg186bhk

BOT_TOKEN=6572795139:AAF_oFVC2O_aS8HXC33hZs4H3ARuN6sKa1g

BACKEND_API=http://localhost:5000